<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CheckDatabase" connectionString="Data Source=.\SqlExpress; Database=DatabaseCheckDemo; Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="DatabaseToCheck" connectionString="Data Source=.\SqlExpress; Database=Demo_Dev; Integrated Security=true" providerName="System.Data.SqlClient" />  
</connectionStrings>
</configuration>